ink {
  color: skyblue;
}

.bgPink {
  background-color: pink;
}

.bgPurple {
  background-color: purple;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.fit-image {
  width: 100%;
}

.centertext {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container1 {
  background-color: #9dc8e4
}

.container2 {
  background-color: lightgrey
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
  justify-content: center;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
